.navbar-brand, .navbar-inverse {
    color: #EBD592 !important;
}

.navbar-inverse {
    background-color: #005C01 !important;
    border:none;
    background-image: none;
}

.navbar-inverse .navbar-collapse {
    border:none;
    background-color: #005C01;
}

body{
    background-color: #EBD592 !important;
}
.panel {
    background-color: #EBD592 !important;
}
.btn-primary {
    color: #fff;
    background-color: #B70D00;
    border-color: #f8b229;
}

.btn-primary:hover {
    color: #fff;
    background-color: #A32C28;
    border-color: #f8b229;
}
.btn-primary[disabled] {
    color: #fff;
    background-color: #B70D00;
    border-color: #f8b229;
}

.btn-primary:hover[disabled] {
    color: #fff;
    background-color: #A32C28;
    border-color: #f8b229;
}
    .navbar-inverse .navbar-nav > li > a {
        color: #EBD592 !important;
    }

.linked-code-decoration-inline-0 {
    background: #A22C27 !important;
}

.linked-code-decoration-inline-1 {
    background: #4F2621 !important;
}

.linked-code-decoration-inline-2 {
    background: #9F8241 !important;
}

.linked-code-decoration-inline-3 {
    background: #7B8055 !important;
}

.linked-code-decoration-inline-4 {
    background: #929867 !important;
}

.linked-code-decoration-inline-5 {
    background: #4AA7A7 !important;
}

.linked-code-decoration-inline-6 {
    background: #93B849 !important;
}

.linked-code-decoration-inline-7 {
    background: #50362A !important;
}

.linked-code-decoration-inline-8 {
    background: #A80030 !important;
}

.linked-code-decoration-inline-9 {
    background: #DDDDC2 !important;
}

.linked-code-decoration-inline-10 {
    background: #BFD4B7 !important;
}

.linked-code-decoration-inline-11 {
    background: #CA7560 !important;
}
.linked-code-decoration-inline-12 {
    background: #D6D68B !important;
}
