.App {
    text-align: center;
}

.code-editor {
    text-align: left;
}

.bash-output {
    background-color: #222;
    color: white;
    text-align: left;
    border: 1px solid black;
    font-family: monospace;
}

.App-header {
    background-color: #222;
    height: 5em;
    padding: 10px;
    color: white;
}
