.App {
  text-align: center;
}

.code-editor textarea.form-control {
   background-color: #f9f9f9;
   width: 100%;
   border: 1px solid black;
   font-family: monospace;
   font-size: 1.5em;
   text-align: left;
   height: 80vh;
}

.bash-output {
    background-color: #222;
    color: white;
    text-align: left;
    border: 1px solid black;
    font-family: monospace;
}

.App-header {
  background-color: #222;
  height: 5em;
  padding: 10px;
  color: white;
}
