name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    name: Test on node ${{ matrix.node }} and ${{ matrix.os }}

    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        node: [14]
        os: [ubuntu-latest]

    steps:
      - uses: actions/checkout@v2
      - name: Use node ${{ matrix.node }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node }}
      - name: Build Quick Bench
        run: yarn
        working-directory: ./quick-bench
      - name: Test Quick Bench
        run: yarn test
        working-directory: ./quick-bench
      - name: Build Build Bench
        run: yarn
        working-directory: ./build-bench
      - name: Test Build Bench
        run: yarn test
        working-directory: ./build-bench
